
# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
test/extra-info/
package/

# =========================
# Build system
# =========================
build/
build_out/
dist/
eggs/
*.egg-info/
.eggs/

cmake-build-*/
cmake-build-debug/
cmake-build-release/

CMakeCache.txt
CMakeFiles/

# =========================
# Ascend / NPU artifacts
# =========================
**/build_out/
**/kernel_meta/
**/op_proto.cc
**/tiling_data.h
**/gen/
**/tmp/

# =========================
# Binary artifacts
# =========================
**/*.o
**/*.a
**/*.so
**/*.so.*

# =========================
# Logs / runtime dump
# =========================
*.log
dump/
log/
.cache/
.coverage

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store

PROF_000001_20260512185910820_IJLLLDNJDCOEMNPA/
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/ArithmeticUtilization.csv
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/L2Cache.csv
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/Memory.csv
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/MemoryL0.csv
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/MemoryUB.csv
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/OpBasicInfo.csv
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/PipeUtilization.csv
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/ResourceConflictRatio.csv
prof/OPPROF_20260512203049_XKEIWBVRNYSTQHYW/visualize_data.bin
